[submodule "firmware/canbus-gpios/lib/Arduino-Log"]
	path = firmware/canbus-gpios/lib/Arduino-Log
	url = https://github.com/Beirdo/Arduino-Log
[submodule "firmware/canbus-gpios/lib/Arduino-STM32-CAN"]
	path = firmware/canbus-gpios/lib/Arduino-STM32-CAN
	url = https://github.com/Beirdo/Arduino-STM32-CAN
[submodule "firmware/canbus-gpios/lib/Beirdo-Utilities"]
	path = firmware/canbus-gpios/lib/Beirdo-Utilities
	url = https://github.com/Beirdo/arduino-common-utils
[submodule "firmware/canbus-gpios/lib/Queue"]
	path = firmware/canbus-gpios/lib/Queue
	url = https://github.com/SMFSW/Queue.git
[submodule "firmware/canbus-linbus-bridge/lib/Queue"]
	path = firmware/canbus-linbus-bridge/lib/Queue
	url = https://github.com/SMFSW/Queue.git
[submodule "firmware/canbus-linbus-bridge/lib/Arduino-Log"]
	path = firmware/canbus-linbus-bridge/lib/Arduino-Log
	url = https://github.com/Beirdo/Arduino-Log
[submodule "firmware/canbus-linbus-bridge/lib/Arduino-STM32-CAN"]
	path = firmware/canbus-linbus-bridge/lib/Arduino-STM32-CAN
	url = https://github.com/Beirdo/Arduino-STM32-CAN
[submodule "firmware/canbus-linbus-bridge/lib/Beirdo-Utilities"]
	path = firmware/canbus-linbus-bridge/lib/Beirdo-Utilities
	url = https://github.com/Beirdo/arduino-common-utils
[submodule "firmware/canbus-linbus-bridge/lib/Arduino-LIN"]
	path = firmware/canbus-linbus-bridge/lib/Arduino-LIN
	url = https://github.com/Beirdo/Arduino-LIN
[submodule "firmware/canbus-thermistor/lib/Queue"]
	path = firmware/canbus-thermistor/lib/Queue
	url = https://github.com/SMFSW/Queue.git
[submodule "firmware/canbus-thermistor/lib/Arduino-Log"]
	path = firmware/canbus-thermistor/lib/Arduino-Log
	url = https://github.com/Beirdo/Arduino-Log
[submodule "firmware/canbus-thermistor/lib/Arduino-STM32-CAN"]
	path = firmware/canbus-thermistor/lib/Arduino-STM32-CAN
	url = https://github.com/Beirdo/Arduino-STM32-CAN
[submodule "firmware/canbus-thermistor/lib/Beirdo-Utilities"]
	path = firmware/canbus-thermistor/lib/Beirdo-Utilities
	url = https://github.com/Beirdo/arduino-common-utils
[submodule "firmware/canbus-thermocouple/lib/Queue"]
	path = firmware/canbus-thermocouple/lib/Queue
	url = https://github.com/SMFSW/Queue.git
[submodule "firmware/canbus-thermocouple/lib/Arduino-Log"]
	path = firmware/canbus-thermocouple/lib/Arduino-Log
	url = https://github.com/Beirdo/Arduino-Log
[submodule "firmware/canbus-thermocouple/lib/Arduino-STM32-CAN"]
	path = firmware/canbus-thermocouple/lib/Arduino-STM32-CAN
	url = https://github.com/Beirdo/Arduino-STM32-CAN
[submodule "firmware/canbus-thermocouple/lib/Beirdo-Utilities"]
	path = firmware/canbus-thermocouple/lib/Beirdo-Utilities
	url = https://github.com/Beirdo/arduino-common-utils
[submodule "firmware/canbus-kline-bridge/lib/Queue"]
	path = firmware/canbus-kline-bridge/lib/Queue
	url = https://github.com/SMFSW/Queue.git
[submodule "firmware/canbus-kline-bridge/lib/Beirdo-Utilities"]
	path = firmware/canbus-kline-bridge/lib/Beirdo-Utilities
	url = https://github.com/Beirdo/arduino-common-utils
[submodule "firmware/canbus-kline-bridge/lib/acan2517FD"]
	path = firmware/canbus-kline-bridge/lib/acan2517FD
	url = https://github.com/pierremolinaro/acan2517FD.git
